@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --dark-bg-color: #242424;
  --main-bg-color: #333333;
  --font-orange: #ff5733;
}

* {
  padding: 0;
  margin: 0;
  color: white;
}

input {
  color: black;
}

ul {
  list-style: none;
}

.container {
  width: 85%;
  margin: auto;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

button {
  color: black;
}

input {
  font-size: inherit;
}

h1 {
  font-weight: unset;
}

a:hover {
  text-decoration: underline;
}
