@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --dark-bg-color: #242424;
  --main-bg-color: #333333;
  --font-orange: #ff5733;
}

* {
  padding: 0;
  margin: 0;
}



input {
  color: black;
}

ul {
  list-style: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  color: white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: white;
}

button {
  color: black;
}

.container{
  color: white;
}

input {
  font-size: inherit;
  color: black;
}

h1 {
  font-weight: unset;
}

a:hover {
  text-decoration: underline;
}


.app {
  display: flex;
  height:100vh;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background: var(--dark-bg-color);
}

